@page "/new"
@using Humanizer
@using Microsoft.EntityFrameworkCore
@using Plan2Gather.Models
@inject IDbContextFactory<Plan2Gather.Data.Plan2GatherContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>New Event</PageTitle>

<HeadContent>
    <style>
        /* #region generic */
.b{border:1px solid #000}
.b0{border:0}
.br{border-right: 1px solid #000}
.bl{border-left: 1px solid #000}
.bt{border-top: 1px solid #000}
.bb{border-bottom: 1px solid #000}
.brw{border-right-color: #fff}
.blw{border-left-color: #fff}
.btw{border-top-color: #fff}
.bbw{border-bottom-color: #fff}
.btd{border-top-style: dotted}

.m0{margin:0}
.mt1{margin-top:1px}
.mb8{margin-bottom:8px}
.mb7{margin-bottom:7px}
.ml40{margin-left:40px}
.m4400{margin:4px 4px 0px 0px}

.p0{padding:0}
.p5{padding:5px}
.p05{padding:0 5px}
.pr1{padding-right:1px}

.bg-e{background:#ffdede}
.bg-w{background: #fff}
.bg-b{background: #000;}

.avg{vertical-align:top;font-size:0px}
.ss{width:44px;height:9px}
.dibz{display:inline-block;zoom:1}
.di{display:inline}
.vabtar{vertical-align:bottom;text-align:right}
.vam{vertical-align:middle}
.fs0vat {font-size: 0px;vertical-align: top;}

.fs10{font-size:10px}
.fs12{font-size:12px}
.fs16{font-size:16px}

.tar{text-align:right}
.tac{text-align:center}

.w150{width:150px}

.none{display:none}
.flex{display:flex}
.center{display: flex;justify-content: center;}
/* #endregion  */
*|*{
    outline: 1px solid red;
    outline-offset: -1px;
}
#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;

    #nameBox{
        grid-column: 1/-1;
        text-align: center;
        width:100%;
        margin:20px 0 20px 0;
        input{
            font-size:22px;
            text-align: center
        }
    }

    #dates,
    #times,
    #meta{
        text-align: center;
        width: 50%;
        min-width:305px;
        >div{
            font-size:12px;
            line-height:1.5
        }
    }
    #dates{grid-row: 2/-1;}
    #times {display: flex;flex-direction: column;gap: 10px}
    #dates>div:first-of-type {margin: 10px 0px 10px 0px}
    #meta {
        display:flex;flex-direction:column;gap:10px;
        #descriptionBox{
            display:flex;flex-direction: column;
            #description{
                height: 100%;
            }
        }
        #submitBox {
            margin: auto auto 5px auto;
            font-size: 16px;
            button{
                font-size: 12px;
            }
        }
    }
}

#calendar{
    font-size:14px;
    margin: 0px auto 0px auto;
    width: 305px;

    border-collapse: separate;

    .today{font-weight: bold;}

    thead{
        tr{
            td,th{
                width:17px; 
                padding: 0px 3px 0px 3px; 
                margin:1px;
                line-height: 1.0; 
                vertical-align:middle; 
                text-align:center;
                cursor: move
            }
        }
    }
    tbody {
        tr{
            th,td{
                height: 17px;
            }
            th{
                width:60px; 
                vertical-align:baseline; 
                cursor: move;
            }
            th:first-of-type{
                padding: 4px 5px 4px 0px;
                text-align: right; 
            }
            td{
                line-height: 1.0; 
                width:17px; 
                vertical-align:middle;
                border:solid 1px black; 
                padding: 2px;
                margin:1px;
                text-align:center; 
                background-color:#ffdede;
                cursor: pointer;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            }
            th:last-of-type{
                padding:1px; 
                padding: 4px 0px 4px 5px;
                text-align: left; 
            }
        }
    }
}

#jumpToDate{margin:5px; height:20px;}


    </style>
</HeadContent>

<form method="post" id="form">
    <div id="nameBox"><InputText id="name" @bind-Value="eventName" /></div>
    <div id="dates">
        <p>What dates might work?</p>
        <p>Click and drag dates to choose possibilities.</p>
        <p>Click and drag labels to shift the calendar.</p>

        <table id="calendar">
            <thead>
                <tr>
                    <td></td>
                    <th class="cal-week">S</th>
                    <th class="cal-week">M</th>
                    <th class="cal-week">T</th>
                    <th class="cal-week">W</th>
                    <th class="cal-week">T</th>
                    <th class="cal-week">F</th>
                    <th class="cal-week">S</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            @{
                var sunday=today.AddDays(-(int)today.DayOfWeek);
                var current = sunday.Date;
                for(var i=1;i<=6;i++){
                    string monthName = current.ToString("MMM");
                    <tr id="row-@i" class="cal-row">
                        <th id="month-@i" class="dateSide">@monthName</th>
                        @for(var j=1;j<=7;j++){
                            <td 
                                id="day-@i-@j" 
                                data-row="@i" 
                                data-col="@j" 
                                class="dateBox@(
                                current.Day==today.Day&&
                                current.Month==today.Month&&
                                current.Year==today.Year
                               ?" today":"")"
                            >
                                <span>@current.Day</span>
                            </td>
                            current = current.AddDays(1);
                        }
                        <th id="year-@i" class="dateSide">@current.Year</th>
                    </tr>
                }
            }
            </tbody>
        </table>
        <div id="jumpToDate">
            <button type="button">Today</button>
        </div>
    </div>

    <div id="times">
        <p>What times might work?</p>

        <div>
            No earlier than:
            <select name="rangeStart" id="rangeStart">
            @for(var i=0;i<24;i++){
                <option value="@i" selected="@(i==9)">
                    @(i==0?"12":i>12?i-12:i):00 @(i<12?"AM":"PM")
                </option>
            }
            </select>
        </div>

        <div>
            No later than:
            <select name="rangeEnd" id="rangeEnd">
            @for(var i=0;i<24;i++){
                <option value="@i" selected="@(i==17)">
                    @(i==0?"12":i>12?i-12:i):00 @(i<12?"AM":"PM")
                </option>
            }
            </select>

        </div>
        
        <div>
            Time Zone:
            <select name="timezone" id="timezone">
                @foreach(var tz in TimeZoneInfo.GetSystemTimeZones()){
                    <option value="@tz">@tz</option>
                }
            </select>

        </div>
        
    </div>

    <div id="meta">
        
        <div id="descriptionBox">
            <label for="description">Event description:</label>
            <InputTextArea @bind-Value="description" name="description" id="description"/>
        </div>

        <div id="allowGuestsBox">
            <label for="allowGuests">Allow guests accounts?</label>
            <InputCheckbox @bind-Value="allowGuests" name="allowGuests" id="allowGuests" />
        </div>

        <div id="submitBox">
            <input type="hidden" name="possibleDates" id="possibleDates">
            Ready? <button type="submit">Create Event</button>
        </div>

    </div>
</form>

@code {
    private Event evnt {get; set;} = default!;
    private DateTime today = DateTime.Now.AtNoon();
    private bool allowGuests = true;
    private string eventName = "New Event Name";
    private DateTime startTime = DateTime.Now;
    private int duration = 0;
    private string description = string.Empty;
    protected override void OnInitialized()
    {
    }
}
